---
import projects from "../../collections/projects.json";
import Button from "../button.astro";
import Project from "../project.astro";

// Sort projects in reverse chronological order and take the first three
const latestProjects = [...projects]
  .slice(0, 3);

const mappedLatestProjects = await Promise.all(
  latestProjects.map(async (latestProject) => {
    let imageModule = null;
    try {
      imageModule = await import(`../../assets/img/projects/${latestProject.image}.png`);
    } catch (error) {
      //maybe the image is a gif
      imageModule = await import(`../../assets/img/projects/${latestProject.image}.gif`);
    }

    return {
      ...latestProject,
      imageModule: imageModule.default
    };
  })
);
---

<section id="projects" class="max-w-4xl 3xl:max-w-6xl mx-auto px-7 lg:px-0 scroll-mt-16">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    My Projects
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Here are some of my recent projects. I'm always working on something new, so
    check back often!
  </p>
  <div
    class="grid items-stretch w-full sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7"
  >
    {
      mappedLatestProjects.map((project, index) => {
        if(index > 2) return null;

        return (
          <Project
            name={project.name}
            description={project.description}
            url={project.url}
            imageModule={project.imageModule}
          />
        )
      })
    }
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="View All My Projects" link="/projects" />
  </div>
</section>
