---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
import "../assets/css/main.css";
import FloatingContactButton from "../components/floating-contact-button";

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.request.url, Astro.site)

function formatCanonicalURL(url: string | URL) {
  const path = url.toString()
  const hasQueryParams = path.includes('?')
  if (hasQueryParams)
    path.replace(/\/?$/, '')
  return path.replace(/\/?$/, hasQueryParams ? '' : '/')
}
---

<!doctype html>
<html class="scroll-smooth dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />

    <!-- Low Priority Global Metadata -->
    <link rel="icon" type="image/x-icon" href="favicon.ico?v=2" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

    <!-- page metadata -->
    <link rel="canonical" href={formatCanonicalURL(canonicalURL)} />
    <meta name="description" content={description}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={formatCanonicalURL(canonicalURL)} />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description}
    />
    <meta property="og:image" content="/assets/images/dody_avatar.jpg" />
    <meta property="og:image:alt" content="Dodycode's Website" />

    <!-- X / Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={formatCanonicalURL(canonicalURL)} />
    <meta property="twitter:title" content={title} />
    <meta
      property="twitter:description"
      content={description}
    />
    <meta property="twitter:image" content="/assets/images/dody_avatar.jpg" />

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== 'undefined') {
        const storedDarkMode = localStorage.getItem('dark_mode');
        if (storedDarkMode === null || storedDarkMode === 'true') {
          document.documentElement.classList.add('dark');
          localStorage.setItem('dark_mode', 'true');
        } else {
          document.documentElement.classList.remove('dark');
        }
      } else {
        // If localStorage is not supported, default to dark mode
        document.documentElement.classList.add('dark');
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
    <FloatingContactButton client:load />
  </body>
</html>